<div class="container search-box" >
    <h2 class="blue">חיפוש טפסים</h2>
    <br>
    <div class="search-area">

            <div class="row">
                <div class=" row ">


                    <div class=" col-xs-3">
                        <input type="text" class="form-control" name="x" placeholder="שם" ng-model="query.name">
                    </div>
                    <div class=" col-xs-3">
                        <input type="text" class="form-control" name="x" placeholder="ת.ז" ng-model="query.id">
                    </div>
                </div>
                <br>
                <br> <br>
                <div class="row">





                    <div class=" col-xs-2">
                        <input type="text" class="form-control" name="x" placeholder="מגרש" ng-model="query.megrash">
                    </div>

                    <div class=" col-xs-2">
                        <input type="text" class="form-control" name="x" placeholder="חלקה" ng-model="query.helka">
                    </div>
                    <div class=" col-xs-2">
                        <input type="text" class="form-control" name="x" placeholder="גוש" ng-model="query.gosh">
                    </div>
                </div>


                <br><br><br>

                <div class="row">
                    <div class=" col-xs-2">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="goSearchBy()"  title="חיפוש"> &nbsp;&nbsp;<span
                            class="glyphicon glyphicon-search"> </span>&nbsp;&nbsp;&nbsp;</button>
                </span>

                        <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="clearSearch()"  title="ניקוי"><span
                            class="glyphicon glyphicon-repeat"></span></button>
                </span>
                    </div>
                    <div class=" col-xs-2">
                        <select ng-model="query.isOld" class="form-control">
                            <option value="none" selected >  כל הבניינים
                            </option>
                            <option value="true">שטח בנוי
                            </option>
                            <option value="false"> גוש/ חלקה/ מגרש
                            </option>
                        </select>
                    </div>
                    <div class=" col-xs-2">
                        <select ng-model="query.type" class="form-control">
                            <option value="none" selected >  כל הטפסים
                            </option>
                            <option value="water">רשת מים
                            </option>
                            <option value="sewerage">רשת ביוב
                            </option>
                        </select>
                    </div>


                </div>


                <input type="hidden" name="search_param" value="all" id="search_param">


            </div>

    </div>
</div>

<br> <hr>
<br>

<div class="container">
    <h2 class="blue">רשימת טפסים</h2>

    <h3 ng-if=" forms_list.length==0">

                       0 תוצאות
    </h3>



<div >

    <div   ng-repeat="form in forms_list" >
        <button type="button" class="btn btn-danger delete-form" style="float: left" ng-click="deleteFormById(form._id)"><span
                class="glyphicon glyphicon-minus"></span></button>

        <div class="item-in-search clickable" ng-click="OpenForm(form.type,form._id)" >

            <span class="glyphicon glyphicon-book"></span>
            <span style="font-weight: bold; font-size:17px ">{{form.table_details[0].col1}}
            </span>

            <span style="font-weight: bold; font-size:13px; float: left;">{{form.date | date:"MM/dd/yyyy"}}
            </span>
            <br>
            <div ng-if="!form.isOld">
            <span>
         <span class="blue">  גוש</span>
            {{form.gosh}}
                </span>
            &nbsp; &nbsp;
            <span>
            <span class="blue">  חלקה</span>
            {{form.helka}}
                </span>
            &nbsp; &nbsp;
            <span>
             <span class="blue">  מגרש</span>
            {{form.megrash}}
    </span>
            </div>

            <div ng-if="form.isOld">
                <span class="blue">  שטח בנוי</span>
            </div>

        </div>


</div>
</div>

</div>


