<!--<p id="ignorePDF">don't print this to pdf</p>-->
<div style="background-color: #b1b1b1">
    <div class="no-print" style="height: 10px;">

    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom no-print">
        <div class="container-fluid">

            <button ng-click="printPage()" class="btn btn-info navbar-btn no-print"><span
                    class="glyphicon glyphicon-print"></span> &nbsp;הדפס
            </button>

            <button ng-click="saveForm()" class="btn btn-danger navbar-btn"><span
                    class="glyphicon glyphicon-save"></span> &nbsp; שמור
            </button>

        </div>
    </nav>


    <div id="no" class="main-page">
        <image class="logo-town" src="components/images/logo_handasa.png" alt="Logo View"></image>
<div>
        <div class="date-label">
            <label> תאריך </label>
            <input type="date" ng-model="form1.date" >
        </div>


        <div class="dearSir">
            <label>
                לכבוד : <input class="input-to-form" type="text" ng-model="form1.name">

            </label>
            <br>
            <label>

                א.נ,
            </label>
        </div>
        <label class="center-title-label">
            הנדון :

            <b> <u>

                אישור חיובי רשת מים


            </u>
            </b>
        </label>

        <div class="paregraph">


            הריני לאשר בזאת שעל המבנה הקיים בשטח הבנוי / בגוש
            <input class="input-to-form"type="text" ng-model="form1.gosh">

            חלקה

            <input class="input-to-form" type="text" ng-model="form1.helka">


            מגרש
            <input class="input-to-form" type="text" ng-model="form1.megrash">

            קיימים חיובי רשת מים לפי הפירוט הבא:
        </div>

        <div>
            <table class="table table-bordered">

                <thead>
                <tr>
                    <th> חיוב על שם</th>
                    <th> ת.ז</th>
                    <th> תאריך החיוב</th>
                    <th>שטח בניה במ"ר</th>
                    <th> מס' חיבורים</th>
                    <th> שטח אדמה במ"ר</th>
                  <th>סכום החיוב ₪ \ לירות </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in form1.table_details">

                    <td>
                        <textarea rows="2"  class="input-in-table" ng-model="row.col1"> </textarea>
                    </td>

                    <td>
                        <textarea rows="2" class="input-in-table" ng-model="row.col2"> </textarea>
                    </td>

                    <td>
                        <textarea rows="2" class="input-in-table" ng-model="row.col3"> </textarea>
                    </td>

                    <td>
                        <textarea rows="2"  class="input-in-table" ng-model="row.col4"> </textarea>
                    </td>

                    <td>
                        <textarea rows="2"  class="input-in-table" ng-model="row.col5"> </textarea>
                    </td>

                    <td>
                        <textarea rows="2"  class="input-in-table" ng-model="row.col6"> </textarea>
                    </td>

                    <td>
                        <textarea rows="2"  class="input-in-table" ng-model="row.col7"> </textarea>
                    </td>

                </tr>
                </tbody>


            </table>
         <!--   <button ng-click="removeRowFromTable()"
                    class="no-print btn btn-danger btn-lg add-row-button"><span
                    class="glyphicon glyphicon-minus"></span></button>-->
            <button class="no-print add-row-button btn btn-danger btn-lg " ng-click="removeRowFromTable()"><span
                    class="glyphicon glyphicon-minus"></span></button>
            <button class="no-print add-row-button btn btn-success btn-lg " ng-click="addRowToTable()"><span
                    class="glyphicon glyphicon-plus"></span></button>
        </div>

        <label class="end_paregraph">יש לציין שכל החיובים הנ"ל בוצעו במועצה מקומית כפר יאסיף. </label>


        <p class="sincerely">
            בכבוד רב,
            <br>
            מהנדס המועצה
            <br>
            יוסף אליאס
            <br>

        </p>

</div>
    </div>

    <div class="no-print" style="height: 100px;">

    </div>
</div>
