<!--<p id="ignorePDF">don't print this to pdf</p>-->
<div>
    <div class="no-print" style="height: 10px;">

    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom no-print">
        <div class="container-fluid">

            <button ng-click="printPage()" class="btn btn-info navbar-btn no-print"><span
                    class="glyphicon glyphicon-print"></span> &nbsp;הדפס
            </button>

           <!-- <button ng-click="saveForm()" class="btn btn-danger navbar-btn"><span
                    class="glyphicon glyphicon-save"></span> &nbsp; שמור
            </button>-->

        </div>
    </nav>


    <div id="no" class="main-page unselectable">
        <image class="logo-town" src="components/images/logo_handasa.png" alt="Logo View"></image>

        <div class="date-label">
            <!--<label> תאריך </label>-->
            {{form1.date | date:"dd/MM/yyyy"}}


        </div>


        <div class="dearSir">
            <label>

                לכבוד  <!--<input class="input-to-form" type="text" ng-model="form1.name" disabled>-->
                {{form1.name}}

            </label>
            <div style="height: 63px;"></div>
            <label>

                א.נ.
            </label>
        </div>
        <label class="center-title-label">
            הנדון :

            <b> <u>

                אישור חיובי רשת {{form1.type_he}}


            </u>
            </b>
        </label>
        <div class="paregraph" ng-if="form1.isOld==true">


            הריני לאשר בזאת שעל המבנה הקיים בשטח הבנוי

            קיימים חיובי רשת מים לפי הפירוט הבא:
        </div>
        <div class="paregraph" ng-if="form1.isOld==false">


            הריני לאשר בזאת שעל המבנה הקיים בגוש
            <input class="input-to-form input-gosh"type="text" ng-model="form1.gosh" disabled>

            חלקה

            <input class="input-to-form input-helka" type="text" ng-model="form1.helka" disabled>


            מגרש
            <input class="input-to-form input-megrash" type="text" ng-model="form1.megrash" disabled>
            <br>
            קיימים חיובי רשת ביוב לפי הפירוט הבא:

        </div>

        <div>
            <table class="table table-bordered" >

                <thead>
                <tr>
                    <th> חיוב על שם</th>
                    <th> ת.ז</th>
                    <th> תאריך החיוב</th>
                    <th>שטח בניה </th>
                    <th> שטח אדמה </th>
                    <th> סכום החיוב ₪</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in form1.table_details" class="row-in-table-view">

                    <td >

                        <p class="label-in-table">
                            {{row.col1}}
                        </p>

                    </td>

                    <td>
                        <p class="label-in-table">
                            {{row.col2}}
                        </p>

                    </td>
                    <td>
                        <p class="label-in-table">
                            {{row.col3}}
                        </p>

                    </td>
                    <td>
                        <p class="label-in-table">
                            {{row.col4}}
                        </p>

                    </td>
<!--                    <td>
                        <p>
                            {{row.col5}}
                        </p>

                    </td>-->
                    <td>
                        <p class="label-in-table">
                            {{row.col6}}
                        </p>

                    </td>
                    <td>
                        <p class="label-in-table">
                            {{row.col7}}
                        </p>

                    </td>


                </tr>
                </tbody>


            </table>
         <!--   <button ng-click="removeRowFromTable()"
                    class="no-print btn btn-danger btn-lg add-row-button"><span
                    class="glyphicon glyphicon-minus"></span></button>-->
         <!--   <button class="no-print add-row-button btn btn-danger btn-lg " ng-click="removeRowFromTable()"><span
                    class="glyphicon glyphicon-minus"></span></button>
            <button class="no-print add-row-button btn btn-success btn-lg " ng-click="addRowToTable()"><span
                    class="glyphicon glyphicon-plus"></span></button>-->
        </div>

        <label class="end_paregraph">יש לציין שכל החיובים הנ"ל בוצעו במועצה מקומית כפר יאסיף. </label>
        <br><br>

        <p ng-if="form1.note.isNote" ng-bind-template="form1.note.noteText">

        </p>

        <p class="sincerely">
            בכבוד רב
            <br>
            מהנדס המועצה
            <br>
            מג'ד סעיד
            <br>

        </p>


    </div>

    <div class="no-print" style="height: 100px;">

    </div>
</div>
