body{
    font-family: "Times New Roman", Georgia, Serif;
    background-color:  rgba(221, 221, 221, 0.45)!important;
}

@page { size: auto;  margin: 0mm; }
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    pre {
        border: none !important;
    }

    textarea
    {
        resize: none;
        overflow:hidden !important;
        border: 0 !important;
    }

    input {
        border: 0 !important;
        outline: 0 !important;

    }

    .date-label-for-print{
        display:inline !important; ;
    }

    .input-date{
       display: none;
    }



}
.main-page{
    font-family: "Times New Roman", Georgia, Serif;
    width: 2480px;
    height: 3508px;
    margin: 0 auto;
    position: relative;
    background-color: white;
    padding: 20px 70px 10px;
    font-size: 70px;

    zoom: 30%;
}

.date-label{

    float: left;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.table  {
    border: 1px solid #ddd;
    overflow-x: inherit;
    font-size: 23px;
}

th{
    font-size: 55px;
}


/*
.table {
    border-collapse: collapse;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;

    display: block;
}*/
/*

th, td {
    padding: 15px;
}
th {
    height: 50px;
    text-align: center;
}
td {
    min-height: 40px;
    text-align: center;
}*/

.logo-town{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 25px;
}

.input-gosh {
    width: 250px !important;
}
.input-helka{
    width: 250px !important;
}

.input-megrash{
    width: 350px !important;
}

.sincerely{

    position: absolute;
    bottom: 150px;


    text-align: center;
    left: 100px;
}

.dearSir{
    margin-right: 30px;
    margin-top: 170px;


}

.center-title-label{
    text-align:center;
    margin-bottom: 50px;
    margin-top: 100px;
    margin-right: 33%;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    text-align: right;
}

.input-date{
    border: 0 !important;
    outline: 0 !important;
}


th {

    text-align: center !important;
}

.input-in-table{
    border: 0;
    outline: 0;

}


.paregraph{
    margin: 30px 15px 60px 15px;



}

.print-button{

    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.add-row-button{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    zoom: 200%;

}
.add-remove-note{
    float: right;
    margin-top: 25px;
    margin-left: 20px;
    zoom: 200%;

}

.end_paregraph{
    margin-top: 50px;
}


.remove-button{
    zoom: 150%;

}

.search-box{
    margin-top:20px;

}


.input-in-table {
    max-width: 318px;
    font-size: 52px !important;
}


.input-to-form{
   /* width: 500px;*/
    padding-right: 20px;
}

.clickable{

    cursor: pointer;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.item-in-search{


    margin: 30px;
    padding: 17px;
    background-color:white;
    border-radius: 20px;
    width: 80%;
    padding-right: 39px;
}


.row-in-table-view td p{
    min-height: 154px;
    max-width: 318px;
    font-size: 52px !important;
}


.blue{
    color:#1b9302;
    font-weight: bold;
}


.delete-form{
    float: left;
    margin-left: 130px;
    margin-top: 19px;
}


.logo-habib{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    margin-left: 10px !important;

}


.note-for-form{
    width: 1700px;
    padding: 3px;

}

.search-area{
    left: 25%;
    position: relative;
}

.date-label-for-print{
    display:none;
    font-weight: 500 !important;
}